<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>
    <target xsi:type="database"
          name="DBLog"
          keepconnection="true"
          commandtype="storedprocedure"
          commandtext="[dbo].[p_log_insert]"
          connectionString="${gdc:item=defaultConnection}">
		<parameter name="@Application" layout="${literal:text=WebApiExample}"/>
		<parameter name="@Username" layout="${event-context:item=UserName}"/>
		<parameter name="@TimeStamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff}"/>
		<parameter name="@Level" layout="${level}"/>
		<parameter name="@MessageType" layout="${event-properties:item=MessageType}"/>
		<parameter name="@RequestID" layout="${event-properties:item=RequestID}"/>
		<parameter name="@Message" layout="${message}"/>
		<parameter name="@Url" layout="${event-properties:item=RequestMethod} ${aspnet-request-url}"/>
		<parameter name="@Exception" layout="${exception:format=tostring}"/>
      <dbProvider>System.Data.SqlClient</dbProvider>
    </target>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" /> <!-- BlackHole without writeTo -->
    <logger name="*" minlevel="Trace" writeTo="DBLog" />
  </rules>
</nlog>